Babel
beautifulsoup4
certifi
cffi
css-html-js-minify
docutils
Jinja2
lxml
packaging
pydata-sphinx-theme
Pygments
pyOpenSSL
PySocks
python-slugify
recommonmark
requests
setuptools
sphinx
sphinx-material
sphinx-py3doc-enhanced-theme
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
typing_extensions
urllib3
wheel
